<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gn.mapper.StudentMapper">
	<resultMap id="studentResultMap" type="com.gn.dto.Student">
		<result property="studentNo" column="student_no"/>
		<result property="studentName" column="student_name"/>
		<result property="studentAge" column="student_age"/>
	</resultMap>

	<select id="selectAll" resultMap="studentResultMap">
		SELECT *
		FROM student
	</select>
	
	<select id="selectOne" resultMap="studentResultMap"
	parameterType="_int">
		SELECT *
		FROM student
		<where>
		student_no = #{studentNo}
		
		</where>
	</select>
	
	<select id="selectName" resultType="com.gn.dto.Student"
	parameterType="String">
		SELECT student_no AS studentNo,
				student_name AS studentName,
				student_age AS studentAge
		FROM student
			WHERE student_name
			LIKE CONCAT('%',#{name},'%')	
	</select> 
	<insert id="insert" parameterType="com.gn.dto.Student">
		insert into student(student_name,student_age)
		values(#{studentName},#{studentAge})
	</insert>
	<update id="updateStudent" parameterType="com.gn.dto.Student">
		UPDATE student
		SET student_name = #{studentName},
			student_age = #{studentAge}
			<where>
		student_no = #{studentNo}	 			
			</where> 	
	</update>
	<delete id="deleteStudent" parameterType="com.gn.dto.Student">
		DELETE FROM student
		<where>
			student_no = #{no}	
		</where>
	</delete>
	
</mapper>